* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

:root {
  --primary: #9e1c23;
  --dark-primary: #54090d;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: hsl(221deg 68% 45%);
  background-image:
    linear-gradient(
      transparent,
      #0b142c
    );
}

.controls-wrapper {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 250px 400px;
  row-gap: 20px;
  padding-top: 50px;
  margin-inline: auto;
  max-width: 950px;
}

.center {
  display: grid;
  place-items: center;
}
